<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">

  <form>
    <div class="mb-3 mt-3">
      <label for="username" class="form-label">username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
  </form>

    <button id="btn-save" class="btn btn-primary">회원가입</button>

</div>
<div th:replace="fragments/footer :: footer"/>
<script src="/js/user.js"></script>
</body>
</html>